.share{
    width: 100%;
    height: 170px;
    background: #fff;
    -webkit-box-shadow: 0px 0px 16px -8px rgba(0,0,0,0.68);
    box-shadow: 0px 0px 16px -8px rgba(0,0,0,0.68);
    margin:20px 5px;
}

.shareWrapper{
    padding:10px;

}

.shareTop{
    display: flex;
    align-items: center;
    margin-top:20px;
   
}

.shareProfileImage{
    width: 50px;
    height:50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;

}

.shareInput{
    border:none;
    width: 80%;
    outline:null;
    height: 50px;
    background-color: #fff;
}

.shareInput:focus{
    outline: none;
}

.shareHr{
    margin: 20px 0;
    border: 1px solid #ccc;
}

.shareBottom{
    display: flex;
    align-items: center;

}

.shareOptions{
    display: flex;
}
.shareOption{
    display: flex;
    align-items: center;
    margin-right: 20px;
    margin-left:50px;
}

.shareIcon{
    font-size:18px;
    margin-right:3px;
}

.shareOptionText{
    font-size:14px;
    font-weight: 500;
}

.shareButton{
    border:none;
    padding:7px;
    border-radius:5px;
    background-color:green;
    font-weight: 700;
    margin-right:20px;
    color: white;
}